{% extends 'baseForm.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">Inscription à l'événement : {{ evenement.titre }}</h2>

        <form method="post" class="mt-4">
            {{ form_start(form) }}
            <div class="form-group mb-3">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone) }}
            </div>

            <button type="submit" class="btn btn-success">S'inscrire</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
